@font-face {
    font-family: 'Gilroy';
    src: url('font/Gilroy-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy Bold';
    src: url('font/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body, html{
    background-color: #292929;
    /* margin: 30px auto; */
    width: auto;
    height: auto;
}

body{ margin: 0; }

#expense-app{
    position: relative;
    width: 400px;
    height: 800px;
    background-color: #414159;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 4% auto;  
}

#balance-header{
    position: relative; 
    top: 50px;
    left: 25px;
    font-size: 1.2em;
    font-family: 'Gilroy Bold';
    color: #f0f2f0;
    
}

 #balance-amount{
    position: relative; 
    margin-top: 10px;
    top: 50px;
    left: 25px;
    font-size: 2em;
    font-family: 'Gilroy Bold';
    color:#f0f2f0;
}

.income-expense{
    display: flex;
}   

.income-expense div{
    margin: 0px 195px 0px 5px;
}    

#income-amount, #expense-amount{
    position: relative; 
    top: 160px;
    left: 25px;
    font-size: 1.2em;
    font-family: 'Gilroy-Regular';
    color:#d5e1f5;
}

#income-amount span:last-child{
    margin-top: 5px;
    color: #f0f2f0;
    font-family: 'Gilroy Bold'; 
    text-align: center; 
    font-size: .8em;
}

#expense-amount span:last-child{
    margin-top: 5px;
    color:#d97979;
    font-family: 'Gilroy Bold';  
    text-align: center;
    font-size: .8em;
}

#income-amount span, #expense-amount span{
    display: block;
}

#budget-details{
    /* width: auto; */
    position: relative;
    width: 400px;
    height: 495px;
    top: 180px;
    background-color: #edf2f2;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#budget-details-header{
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 1.2em;
    
}

.budget-details-header-button{
    width: 70px;
    height: 25px;
}

.icon{
    position: absolute;
    display: flex;
    top: 42px;
    left: 280px;
    gap: 5px;
}

.input{
    position: absolute;
    top: 446px;
    left: -4px;
    display: flex;
    gap: 6px;
}

#input-title, #input-amount{
    width: 150px;
}

#plus-sign{
    position: absolute;
    top: -4px;
    left: 330px;
    width: 31px;
    height: 31px;
}
