@font-face {
    font-family: 'Gilroy';
    src: url('font/Gilroy-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy Bold';
    src: url('font/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body, html{
    background-color:slategray;
    /* margin: 30px auto; */
    width: auto;
    height: auto;
}

body{ margin: 0; }

#expense-app{
    position: relative;
    width: 400px;
    height: 800px;
    background-color: lightcoral;
    border-radius: 25px;
    margin: 4% auto;  
}

#balance{
    position: relative; 
    top: 50px;
    left: 25px;
    font-size: 1.2em;
    font-family: 'Gilroy Bold';
}

 #balance-amount{
    position: relative; 
    top: 50px;
    left: 25px;
    font-size: 2em;
    font-family: 'Gilroy Bold';
}

.income-expense{
    display: flex;
}   

#income-amount, #expense-amount{
    position: relative; 
    top: 160px;
    left: 25px;
    font-size: 1.2em;
    font-family: 'Gilroy-Regular';
}

.income-expense div{
    margin: 0px 195px 0px 5px;
}    

#income-amount span, #expense-amount span{
    display: block;
}

