@font-face {
    font-family: 'Gilroy';
    src: url('font/Gilroy-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy Bold';
    src: url('font/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body, html{
    background-color:slategray;
    /* margin: 30px auto; */
    width: auto;
    height: auto;
}

body{ margin: 0; }

#expense-app{
    position: relative;
    width: 400px;
    height: 800px;
    background-color: lightcoral;
    border-radius: 25px;
    margin: 4% auto;  
}

#expense-app #balance{
    position: relative; 
    top: 30px;
    left: 25px;
    font-size: 2.5em;
    font-family: 'Gilroy Bold';
}


